* {
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  -o-font-feature-settings: normal;
  font-feature-settings: normal;
}

a {
  word-break: break-all;
}

pre {
  line-height: 1.2em;
  overflow: scroll;
}

pre code {
  font-size: 16px;
  white-space: pre;
}