{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  {{ if not .IsHome }}
  <h1>{{ .Title }}</h1>
  <hr></hr>
  {{ end }}
  <section class="section">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range sort $paginator.Pages }}
      <article>
        {{ partial "post-metadata-list" . }}
        <div class="content">
          {{ partial "banner" . }}
          <!-- supports emoji -->
          {{ .Summary | emojify }}
        </div>
      </article>
      {{ end }}
  </section>
</div>
{{ partial "paginate-list" . }}
{{ partial "footer" . }}